<!-- sabermas.component.html -->
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 bg-white p-4 rounded shadow">
      <h2 class="display-5 mb-3 text-center font-weight-bold">Acerca de Mí</h2>
      <p class="mb-3 font-weight-bold">Soy un apasionado de la tecnología y el desarrollo de software. Obtuve mi título como Técnico Superior Universitario en Tecnologías de la Información y Area de Desarrollo de Software Multiplataforma (TIDSM) en la Universidad Tecnológica del Centro de Veracruz. Actualmente, tengo 22 años y estoy cursando el noveno cuatrimestre de la carrera de Ingeniería en Desarrollo y Gestión de Software (IDGS).</p>
      <p class="mb-3 font-weight-bold">Mi curiosidad innata y mi deseo de aprender me impulsan a explorar constantemente nuevas tecnologías y tendencias en el mundo de la programación. Me apasiona resolver problemas complejos y encontrar soluciones innovadoras que permitan optimizar procesos y mejorar la experiencia del usuario.</p>
      <p class="font-weight-bold">En mi tiempo libre, me gusta mantenerme actualizado sobre las últimas novedades en el campo de la informática, asistir a conferencias y meetups relacionados con la programación, y participar en comunidades en línea donde puedo intercambiar ideas y aprender de otros profesionales.</p>
    </div>
  </div>
</div>